aside {
    float: left;
    width: 25%;
    padding-right: 20px;
}

aside ul {
        /* 186bb9  or 0c5da8 */
    list-style-type: none;
    background: #0c5da8;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

aside a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
}

aside li {
    text-align: center;
}

aside a:hover {
    background-color: #186bb9;
    color: white;
}
